<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/navbar.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/shop.css') }}">
    <title>Shop</title>
</head>

<body>
<header>
    {% include 'components/_navbar.html' %}
</header>

<div class="checkout-button pointer" onclick="showCheckOut();">
    <i class="material-icons">shopping_cart</i>
    <span id="items-in-cart"></span>
</div>
{% include 'components/shop/_items.html' %}
{% include 'components/shop/_checkout.html' %}

<script src="{{ url_for('static', filename='js/shop.js') }}"></script>
<script src="{{ url_for('static', filename='js/navbar.js') }}"></script>

</body>
</html>