/*Gallery section CSS*/
* {
    box-sizing: border-box;
}


            
.img_bar{
    padding: 12px;
    align-content: center;
}

/* The grid: six equal images that floats next to each other */
.column {
    float: left;
    width: 16.6%;
    padding: 2px;
    ;
}

/* Style the images */
.column img {
    opacity: 0.8; 
    cursor: pointer;
  }

 .column img:hover {
    opacity: 1;
  }

 /* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* The expanding image container */
.container {
  position: relative;
  display: none;
  background-color: "";
  color: "";
  
  width: 98.5%;
}

#select1:checked~div.wrapper {
  background-color: black;
  color: white;
}

#imgdescription{
    position: absolute;
    top:4.6%;
    left: 50.8%;
    color: "";
    font-size: 1.2em;
    width: 50%;
    height: 95.5%;
    padding: 20px;
    /*width: 25em;
    word-wrap: break-word;*/
}

/* Expanding image text */
#imgtext {
  position: absolute;
  bottom: 2%;
  left: 1%;
  color: white ;
  font-size: 2em;
   
}

.closebtn {
  position: absolute;
  top: -1%;
  right: -1.5%;
              
  font-size: 25px;
  cursor: pointer;
}

#expandedImg{
  width: 50.3%;
  height: 500px;
}

