/*body{*/
/*    font-size: 1.2rem;*/
/*}*/
.row{
    display: flex;
    flex-direction: row;
    font-size: 1.2rem;
}

.col-3{
    font-size: 1.5rem;
    width: 20%;
}
.col-9{
    margin-top: 20px;
    width: 70%;
    margin-left: 10px;
    overflow: hidden;
}

.profile-pic {
    max-width: 100%;
    max-height: 100%;
    height: auto;
}

.contacts{
    margin: 50px 10px 50px 30px;
    width: 100%;
}

.contacts table{
    font-size: 1.3em;
    width: 100%;
}

.section-description{
    text-align: justify;
    margin: 20px 5px 20px 40px;
}

.section-description .title{
    display: block;
    font-size: 1.3em;
    font-weight: bold;
    margin-top: 20px;
}

.section-description .period{
    display: block;
    margin-top: 10px;
    color: #ab1a00;
}

#skills-title{
    margin-top: 30px;
}

.skills{
    margin-left: 20px;
    margin-top: 30px;
}

.skills span{
    display: block;
    margin: 5px 2px 5px 40px;
}

.skills-wrapper{
    margin-left: 20px;
}