/*
    Inspired by https://www.w3schools.com/css/css_navbar.asp
*/
#logo {
    background: none;
    color: #39aba4;
    float: left;
}

@media (max-width: 667px) {
    #mobile-nav {
        display: block;
    }

    #desktop-nav {
        display: none;
    }
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

nav ul li {
    float: left;
}

nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#mobile-nav {
    display: none;
}

/*#mobile-nav-menu ul li:nth-child(2){*/
/*    float: right;*/
/*}*/

#mobile-nav .dropdown-content {
    width: 100%;
}

nav ul li:hover:not(.active) {
    background-color: #1F618D;
}

.active {
    background-color: #1F618D;
}

.nav-right {
    float: right;
}


li.dropdown {
    display: block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #283747;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    /*text-align: left;*/
}

.dropdown-content a:hover {
    background-color: #117A65;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.scroll-to-top {
    background-color: #dc3545eb;
    display: block;
    position: fixed;
    z-index: 1000;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
    border-radius: 50%;
    padding: 15px;
}