.splash-screen-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    align-items: center;
    height: 100vh;


}


.hide {
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  opacity: 0 !important;
}

.splash-screen-grid div{
    width: 100%;
}

.splash-screen-logo{
    text-align: right;
}

@media (max-width: 1150px) {
    .splash-screen-grid{
        grid-template-columns: 1fr;
        text-align: center !important;
    }
    .splash-screen-logo{
        text-align: center;
    }
}

#splash-screen{
    background-color: #000;
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 1000;
    overflow: auto;
}