<div id="splash-screen">
    <div class="splash-screen-grid">
        <div class="splash-screen-logo">
            <img src="{{ url_for('static', filename='img/loading_screen.png') }}" alt="Sri Lankan Culture">
        </div>
        <div>
            <h2 style="font-size: 64px" class="text-lightgreen">Visit</h2>
            <h1 style="font-size: 114px" class="text-lightblue">Sri Lanka</h1>
            <h5 style="font-size: 35px" class="text-white">By: Rajeev, Kevin, Rahma and Isala</h5>
        </div>
    </div>
</div>